@import "./markdown.css";
@import "./about.css";
@import "./fonts.css";
@import "./post.css";

html {
  scroll-behavior: smooth;
  background-color: #0b0c12;
}

html, body {
  height: 100%;
}

/* Dark grid background similar to reference layout */
body {
  background-color: #0b0c12;
  color: #e5e5e5;
}

/* Navbar */

header .prompt {
  vertical-align: -0.2em;
  font-size: 0.85em;
}

header .blink {
  animation: blinker 1s none infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
